@import url(./fonts.css);
*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: JioType,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}
img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}


